{% extends 'base.html.twig' %}

{% block title %}Nouvel evenement{% endblock %}

{% block body %}
    <h1>Nouvel evenement</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">back to list</a>
{% endblock %}
