{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div>
        Essai d'affichage du calendrier.
    </div>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                {% include '_calendar.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fullcalendar/includeFullCalendar.js') }}"></script>
{% endblock %}